@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.container {
  background-color: azure;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: max-content 4fr;
}

.header {
  padding: 0 4rem;
  background-color: aquamarine;
  grid-column: span 2;
  @include flex();
  justify-content: space-between;

  .profile {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 0.2rem;
    align-items: end;

    img {
      grid-row: span 2;
    }

    .time {
      color: #adadaddf;
      align-self: flex-start;
      display: flex;
      gap: 1rem;
    }
  }
}
.side-bar {
  background-color: blanchedalmond;
  @include flex();
  flex-direction: column;
  align-items: start;
  width: 100%;
  gap: 0.5rem;
  div,
  .removeLocalStorage {
    background-color: #ffa500;
    @include flex();
    justify-content: start;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    button {
      background-color: aquamarine;
      margin-left: auto;
      padding: 0.2rem 0.8rem;
      border-radius: 3rem;
    }
  }

  .removeLocalStorage {
  }

  .footer {
    margin-top: auto;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: -0.11rem;
    background-color: blanchedalmond;

    div {
      height: 1.3rem;
      background-color: inherit;
    }

    .color {
      width: 0.51rem;
      height: 0.51rem;
      margin-right: 0.41rem;
    }

    a {
      text-decoration: none;
    }
  }

  .project-items {
    padding-left: 4rem;
    list-style: none;
    @include flex();
    flex-direction: column;
    align-items: start;
    gap: 0.7rem;
    width: 90%;
    .project-item {
      background-color: #008000;
      position: relative;
      padding: 0.3rem 0.6rem 0.3rem 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-radius: 0 0.4rem 0.4rem 0;

      button {
        width: 2rem;
        border-radius: 1000px;
        background-color: cadetblue;
      }

      &::before {
        content: "🔏";
        font-size: 1rem;
        position: absolute;
        left: -2rem;
        top: 0;
        width: 10%;
        height: 100%;
        padding: 0.65rem 2rem 0.3rem 0;

        border-radius: 0.4rem 0 0 0.4rem;
        background-color: #008000;
      }
    }
  }
}
.display {
  height: 91vh;
  background-color: rgb(150, 150, 123);
  overflow-y: scroll;

  .card-display {
    background-color: rgb(114, 131, 85);
    padding: 3rem;

    @include flex();
    flex-direction: column;
    gap: 1rem;
    align-items: start;

    .card {
      display: grid;
      grid-template-columns: 1fr repeat(7, max-content);
      justify-content: start;
      gap: 2rem;
      background-color: aliceblue;
      padding: 0.3rem 3rem;
      width: 90%;

      button {
        background-color: #c6b383;
        padding: 0.3rem 0.9rem;
        border-radius: 0.4rem;
      }
      input {
        margin-left: -1.5rem;
      }
      input:checked {
        position: relative;
      }
      // input:checked::after,
      input:checked::before {
        content: "";
        position: absolute;
        right: -10rem;
        bottom: 1.18rem;
        width: 70rem;
        height: 100%;
        border-bottom: 2px solid rgb(93, 77, 77);
        // padding-bottom: -10rem;
      }

      &[data-priority] {
        position: relative;
      }
      &[data-priority]::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1rem;
        border-radius: 0.3rem 0 0 0.3rem;
        left: -0.5rem;
      }
    }
  }
}
img {
  width: 5rem;
  height: 5rem;
}
svg {
  fill: #fcbf26;
  width: 2rem;
  height: 2rem;
}

button {
  cursor: pointer;
  border: 0;
}

// color priority
.card[data-priority="1"]::before,
#vu {
  background-color: #ff0000;
}
.card[data-priority="2"]::before,
#u {
  background-color: #ffa500;
}
.card[data-priority="3"]::before,
#n {
  background-color: #ffff00;
}
.card[data-priority="4"]::before,
#nu {
  background-color: #008000;
}
